
<div ncy-breadcrumb="ncy-breadcrumb"></div>
<div class="container well">
  <h3>Bienvenid@ Admin</h3>
  <div class="row">
    <div class="col-xs-6"> </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Estadística general</b></div>
        <div class="panel-body"><span>Estado de mediciones:</span>
          <div class="progress">
            <div role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;" class="progress-bar">76%</div>
          </div>
          <hr/><span>Aumento en consumo:</span>
          <div class="progress">
            <div role="progressbar" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100" style="width: 16%;" class="progress-bar">16%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>