.row.plot-container
  div(ncy-breadcrumb)
  .col-xs-8.col-xs-offset-2
    .panel-default
      .panel-heading
        b Datos Parcela
      
      .panel-body

        .form-group
          label Nº Parcela: 
          span(ng-bind="plot.plotSelected.plot_number") 

        .form-group
          label Nombre Propietario: 
          span(ng-bind="plot.plotSelected.owner.name") 
        
        .form-group
          label RUT Propietario: 
          span(ng-bind="plot.plotSelected.owner.rut") 
  
  .row
    .col-xs-8.col-xs-offset-2
      h3 Medidores

    .col-xs-8.col-xs-offset-2
      div.list-group(ng-repeat="meter in plot.plotSelected.meters track by meter.id")
        a.list-group-item
          h4.list-group-item-heading
            | Medidor {{meter.id}}
          p.list-group-item-text
            button.btn.btn-default(ng-click="plot.goPlotMeasures(meter.id)") Ver Historial
          
      
  