.container
  div(ncy-breadcrumb)

  form.form
    .form-group
      label Numero
      input.form-control(value="{{setplotsowners.plot.plot_number}}", disabled)
    .form-group
      label Dueño
      ui-select(ng-model='setplotsowners.selected.value')
        ui-select-match
          span(ng-bind='$select.selected.nombre')
        ui-select-choices(repeat='item in (setplotsowners.plotsOwners | filter: $select.search) track by item.rut')
          //- span(ng-bind='item.nombre')
          div(ng-bind-html='item.nombre | highlight: $select.search')
          small
            | RUT: 
            span
              b(ng-bind-html="''+item.rut | highlight: $select.search")



