div(ncy-breadcrumb='')
.container.users-container
  h3 Agregar usuario
  hr
  form.form(name="addeditform",ng-submit="addeditusers.addedit(addeditusers.user)")
    
    .form-group
      label Nombre:
      input.form-control(type="text", name="name", ng-model="addeditusers.user.name", ng-minlength="4", required)
    div(ng-messages="addeditform.name.$error", ng-if="addeditform.name.$touched", role="alert")
      div.form-validation(ng-message="required")
        small.text-warning #[b Campo requerido] 
      div.form-validation(ng-message="minlength")
        small.text-warning #[b Nombre demasiado corto]

    .form-group
      label Rut:
      input.form-control(type="text", name="rut", ng-model="addeditusers.user.rut", required, ng-model-options="{ updateOn: 'blur' }", gp-rut-validator)

    div(ng-messages="addeditform.rut.$error", ng-if="addeditform.rut.$touched", role="alert")
      div.form-validation(ng-message="required") 
        small.text-warning #[b Campo requerido]
      div.form-validation(ng-message="rutInvalid")
        small.text-warning #[b Rut inválido]
          

    //- .form-group
    //-   label Apellido paterno
    //-   input.form-control(type="text", name="lastname", ng-model="lastname", required)
    //- div(ng-messages="addeditform.lastname.$error" role="alert")
    //-   div.alert.alert-danger(ng-message="required") 
    //-     | El campo es requerido
    
    //- .form-group
    //-   label Apellido materno
    //-   input.form-control(type="text", name="maidenname", ng-model="maidenname", required)
    //- div(ng-messages="addeditform.maidenname.$error" role="alert")
    //-   div.alert.alert-danger(ng-message="required") 
    //-     | El campo es requerido

    //- .form-group
    //-   label RUT
    //-   input.form-control(type="text", name="rut", ng-model="rut", required)
    //- div(ng-messages="addeditform.rut.$error" role="alert")
    //-   div.alert.alert-danger(ng-message="required") 
    //-     | El campo es requerido

    //- .form-group
    //-   label Domicilio
    //-   input.form-control(type="text", name="address", ng-model="address", required)
    //- div(ng-messages="addeditform.address.$error" role="alert")
    //-   div.alert.alert-danger(ng-message="required") 
    //-     | El campo es requerido
    
    .form-group
      button.btn.btn-default(type="submit", ng-disabled="addeditform.$invalid") Guardar