div(ncy-breadcrumb='')
.container
  .panel.panel-success
    .panel-heading
      | Listar Lector
    .panel-body
      .row
        .col-xs-4
          .input-group
            span.input-group-btn
              button.btn.btn-default(type="submit")
                i.fa.fa-fw.fa-search
            input.form-control(placeholder="Buscar...", type="text")
      .row
        .col-xs-6.col-xs-offset-6
          .btn-group.btn-group-justified
            .btn-group(role="group")
              button.btn.btn-default(type='button') Copiar
            .btn-group(role="group")
              button.btn.btn-default(type='button') Excel
            .btn-group(role="group")
              button.btn.btn-default(type='button') PDF
            .btn-group(role="group")
              button.btn.btn-default(type='button') Imprimir

      br
      table.table.table-condensed
        thead
          tr
            th| RUN
            th| Nombres
            th| Apellido Paterno
            th| Apellido Materno
            th| Correo Electronico
            th| Telefono
            th| Usuario
            th| Sector asignado

            th() Opciones

        tbody
          tr(ng-repeat="user in users.usersList")
            td(ng-bind="user.rut")
            //- td(ng-bind="user.id") 
            td(ng-bind="user.name")
            td(ng-bind="")
            td(ng-bind="")
            td(ng-bind="")
            td(ng-bind="")
            td(ng-bind="")
            td(ng-bind="")
            td.users-options
              .btn-group(role="toolbar").btn-group-xs
                a.btn.btn-primary(ui-sref="measures.addedit/{{user.user_id}}") 
                  i.glyphicon.glyphicon-pencil
                a.btn.btn-info(ui-sref="measures.editpassword/{{user.user_id}}")
                  i.glyphicon.glyphicon-cog
                a.btn.btn-primary(ui-sref="measures.deleteuser/{{user.user_id}}")
                  i.glyphicon.glyphicon-remove

        tfoot
          tr
            td(colspan=9)
              nav
                ul.pagination.pagination-sm
                  li
                    a(href="#", aria-label="Previous")
                      span(aria-hidden="true")
                        | Anterior
                  li 
                    a(href="") 1
                  li
                    a(href="#", aria-label="Next")
                      span(aria-hidden="true")
                        | Siguiente