
<div ncy-breadcrumb=""></div>
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">Asignar sector</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label>Seleccione Sector</label>
          <select class="form-control"></select>
        </div>
        <div class="form-group">
          <label>Seleccion Lector</label>
          <select ng-options="user.id as user.name for user in assignsector.usersList" ng-model="assignsector.selectedUserId" class="form-control"></select>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-default">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>