
<div ncy-breadcrumb=""></div>
<div class="row maintenance-container">
  <div class="col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="condos-container col-sm-4 col-lg-4">
      <div class="form-group">
        <label>Seleccione Condominio</label>
        <select ng-options="condo.id as condo.name for condo in maintenance.condosList" ng-model="maintenance.selectedCondo" class="form-control"></select>
      </div>
    </div>
    <div class="condos-container col-sm-4 col-lg-4">
      <div class="form-group">
        <label>Periodo</label>
        <select class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-8 col-lg-offset-2">
    <form class="condos-container col-sm-4 col-lg-4">
      <h3>Configuración</h3>
      <div class="form-group">
        <label>Valor sobreconsumo</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Cargo fijo</label>
        <input type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>