div(ncy-breadcrumb='')
.container
  .panel.panel-success
    .panel-heading
      | Medidores
    .panel-body
      .row
        .col-xs-4
          .input-group
            span.input-group-btn
              button.btn.btn-default(type="submit")
                i.fa.fa-fw.fa-search
            input.form-control(placeholder="Buscar...", type="text")
      .row
        .col-xs-6.col-xs-offset-6
          .btn-group.btn-group-justified
            .btn-group(role="group")
              button.btn.btn-default(type='button') Copiar
            .btn-group(role="group")
              button.btn.btn-default(type='button') Excel
            .btn-group(role="group")
              button.btn.btn-default(type='button') PDF
            .btn-group(role="group")
              button.btn.btn-default(type='button') Imprimir

      br
      table.table.table-condensed
        thead
          tr
            th.text-center(colspan="3") Propiedad
            th.text-center(colspan="3") Historial de consumo
            th.text-center(colspan="3") Medidor
            
        thead
          tr
            th| N° Sitio
            th| Ubicación
            th| Propietario
            th| Anterior
            th| Actual
            th| Consumo total
            th| N° Medidor
            th| Estado del medidor
            //- th| Activar

        tbody
          tr(ng-repeat="meter in meters.metersList")
            td(ng-bind="meter.nsitio")
            //- td(ng-bind="meter.id") 
            td(ng-bind="meter.ubicacion")
            td(ng-bind="meter.propietario")
            td(ng-bind="meter.anterior")
            td(ng-bind="meter.actual")
            td(ng-bind="meter.consumototal")
            td(ng-bind="meter.nmedidor")
            td(ng-bind="meter.estadomedidor")
            

        tfoot
          tr
            td(colspan=9)
              nav
                ul.pagination.pagination-sm
                  li
                    a(href="#", aria-label="Previous")
                      span(aria-hidden="true")
                        | Anterior
                  li 
                    a(href="") 1
                  li
                    a(href="#", aria-label="Next")
                      span(aria-hidden="true")
                        | Siguiente