
<div class="row">
  <div ncy-breadcrumb="ncy-breadcrumb"></div>
  <div class="plots-list col-sm-8 col-lg-6">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-xs-3">Valor Medido</th>
          <th class="col-xs-2">Comentario</th>
          <th class="col-xs-3">Usuario Medicion</th>
          <th class="col-xs-4">Estado</th>
        </tr>
        <tbody>
          <tr ng-repeat="measure in plotMeasures.plotMeasures.measures track by measure.id">
            <td ng-bind="measure.value"></td>
            <td ng-bind="measure.comment"></td>
            <td ng-bind="measure.user"></td>
            <td ng-bind="measure.status"></td>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>