div(ncy-breadcrumb='')
.container
  .panel.panel-success
    .panel-heading
      | Asignar sector
    .panel-body
      form
        .form-group
          label Seleccione Sector
          select.form-control
        .form-group
          label Seleccion Lector
          select.form-control(ng-options="user.id as user.name for user in assignsector.usersList", ng-model="assignsector.selectedUserId")


        .form-group.text-right
          button.btn.btn-default(type="submit") Guardar

