div(ncy-breadcrumb='')
.container
  .panel.panel-success
    .panel-heading
      | Cambiar parámetros de cobro
    .panel-body
      form(name="changechargeparametersForm")
        .form-group
          label Cargo fijo:
          input.form-control(type="number", ng-model="changeparameters.newParams.fixed")
        .form-group
          label Valor m3:
          input.form-control(type="number", ng-model="changeparameters.newParams.normal_price")
        .form-group
          label Valor sobreconsumo:
          input.form-control(type="number", ng-model="changeparameters.newParams.over_consumption_price")
        .form-group.text-right
          button.btn.btn-default(ng-click="changeparameters.saveChanges(changeparameters.newParams)") Guardar

