div(ncy-breadcrumb='')
.container
  .panel.panel-success
    .panel-heading
      | Cambiar contrase単a
    .panel-body
      form
        .form-group
          label Ingrese contrase単a actual
          input.form-control(type="password")
        .form-group
          label Ingrese nueva contrase単a
          input.form-control(type="password")
        .form-group
          label Repita nueva contrase単a
          input.form-control(type="password")
        .form-group.text-right
          button.btn.btn-default(type="submit") Aceptar

