div(ncy-breadcrumb='')
.row.maintenance-container
  .col-sm-12.col-lg-8.col-lg-offset-2
    .condos-container.col-sm-4.col-lg-4
      .form-group
        label Seleccione Condominio
        select.form-control(ng-options="condo.id as condo.name for condo in maintenance.condosList", ng-model="maintenance.selectedCondo")
    .condos-container.col-sm-4.col-lg-4
      .form-group
        label Periodo
        select.form-control
  .col-sm-12.col-lg-8.col-lg-offset-2
    form.condos-container.col-sm-4.col-lg-4
      h3 Configuración
      .form-group
        label Valor sobreconsumo
        input.form-control(type="text")
      .form-group
        label Cargo fijo
        input.form-control(type="text")
      .form-group
        button.btn.btn-primary(type="submit") Guardar