
<div class="container login-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm"><img src="assets/images/logo_menuprincipal.png" alt="" width="400"/></div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <div class="panel panel-default">
        <div style="font-size:16px;" class="panel-heading">Login</div>
        <div class="panel-body">
          <form name="loginForm" class="form-signin"><span id="reauth-email" class="reauth-email"></span>
            <input id="inputEmail" type="email" placeholder="Email" ng-model="login.user.email" required="required" class="form-control"/>
            <input id="inputPassword" type="password" placeholder="Password" ng-model="login.user.password" required="required" class="form-control"/>
            <div id="remember" class="checkbox">
              <label>Recuerdame
                <input type="checkbox"/>
              </label>
            </div>
            <div class="center-block forgot-password"><a>¿Olvidó su Password?</a></div>
          </form>
        </div>
        <div class="panel-footer text-right">
          <button type="submit" ng-disabled="loginForm.$invalid" ng-click="login.loginGo(login.user)" class="btn btn-lg btn-primary btn-block btn-signin">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>