
<div class="row">
  <div ncy-breadcrumb="ncy-breadcrumb"></div>
  <div class="col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="condos-container col-sm-4 col-lg-4">
      <div class="form-group">
        <label>Seleccione Sector</label>
        <select ng-options="sector.id as sector.name for sector in sectors.sectorsList" ng-model="sectors.selectedSectorId" ng-change="sectors.loadPlots(sectors.selectedSectorId)" class="form-control"></select>
      </div>
    </div>
    <div class="search-container col-sm-8 col-lg-6">
      <form name="searchPlot" role="search" ng-submit="sectors.searchPlot(sectors.searchModel)" class="form-inline">
        <div class="input-group col-xs-12 add-on"> 
          <input name="inputSearch" ng-model="sectors.searchModel" ng-change="sectors.searchPlot(sectors.searchModel)" class="form-control"/>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default search-button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="plots-list col-sm-8 col-lg-6">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="col-xs-2">Número propiedad</th>
            <th class="col-xs-4">Valor última medición</th>
            <th class="col-xs-4">Lectura hecha por</th>
            <th class="col-xs-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="plot in sectors.plotsList track by plot.id">
            <td ng-bind="plot.plot_number"></td>
            <td ng-bind="plot.meters[0].last_measure.value"></td>
            <td ng-bind="plot.meters[0].last_measure.last_measurer"></td>
            <td> <a ng-click="sectors.plotGo(plot.id)" class="btn btn-info">Ver</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>