nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    
    header
      .logo
        img(src="assets/images/logo.png")
      .title
        h4 Sistema Administraci칩n Toma de agua
      .condos-select.pull-right.form-group
        label Condominio Actual
        select.form-control(ng-if="navbar.showCondos"
                            ng-model="navbar.selectedCondo" 
                            ng-options="condo.name for condo in navbar.userLogged.condos_assigned "
                            ng-change="navbar.changeCondo(navbar.selectedCondo.id)")
        label.form-control(ng-if="!navbar.showCondos"
              ng-bind="navbar.selectedCondo.name")


    .container-fluid
      //-Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar


      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(ng-class="{active: navbar.checkState('measures.home')}")
            a(ui-sref="measures.home", title="Home")
              i.fa.fa-lg.fa-fw.fa-home
              | Home
              
          li.menu-item.dropdown
            a.dropdown-toggle(ui-sref='measures.maintenance', data-toggle='dropdown')
              i.fa.fa-lg.fa-fw.fa-cogs
              | Mantenci칩n
              b.caret
            ul.dropdown-menu
              li.menu-item.dropdown.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Configuraci칩n
                ul.dropdown-menu
                  li.menu-item
                    a(ui-sref='measures.measureProcesses') Mediciones
                  li.menu-item
                    a(ui-sref='measures.assignsector') Asignar Sector
                  //-li.menu-item
                    a(ui-sref='measures.plots') Propiedades
                  li.menu-item
                    a(ui-sref='measures.meters') Medidores
              li.menu-item.dropdown.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Adm. Perfiles
                ul.dropdown-menu
                  li.menu-item
                    a(ui-sref='measures.addusers') Crear lectores
                  li.menu-item
                    a(ui-sref='measures.users') Editar lectores
                  li.menu-item
                    a(ui-sref='measures.users') Listar lectores
              li.menu-item.dropdown
                a.dropdown-toggle(ui-sref="measures.changepassword") Cambiar contrase침a
          
          li(ng-class="{active: navbar.checkState('measures.sectors')}")
            a(ui-sref="measures.sectors")
              i.fa.fa-lg.fa-fw.fa-bar-chart
              | Parcelas

        
