
<div ncy-breadcrumb=""></div>
<div class="container users-container">
  <h3>Agregar usuario</h3>
  <hr/>
  <form name="addeditform" ng-submit="addeditusers.addedit(addeditusers.user)" class="form">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" name="name" ng-model="addeditusers.user.name" ng-minlength="4" required="required" class="form-control"/>
    </div>
    <div ng-messages="addeditform.name.$error" ng-if="addeditform.name.$touched" role="alert">
      <div ng-message="required" class="form-validation"><small class="text-warning"><b>Campo requerido</b> </small></div>
      <div ng-message="minlength" class="form-validation"><small class="text-warning"><b>Nombre demasiado corto</b></small></div>
    </div>
    <div class="form-group">
      <label>Rut:</label>
      <input type="text" name="rut" ng-model="addeditusers.user.rut" required="required" ng-model-options="{ updateOn: 'blur' }" gp-rut-validator="gp-rut-validator" class="form-control"/>
    </div>
    <div ng-messages="addeditform.rut.$error" ng-if="addeditform.rut.$touched" role="alert">
      <div ng-message="required" class="form-validation"> <small class="text-warning"><b>Campo requerido</b></small></div>
      <div ng-message="rutInvalid" class="form-validation"><small class="text-warning"><b>Rut inválido</b></small></div>
    </div>
    <div class="form-group">
      <button type="submit" ng-disabled="addeditform.$invalid" class="btn btn-default">Guardar</button>
    </div>
  </form>
</div>